@import "tailwindcss";

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      height: 0.7rem;
      display: none;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      width: 10rem;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 10rem;
      width: 2rem;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }

    .svg-color {
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.3rem;
        border-radius: 20rem;
        background-color: green;
    }
  }