body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    padding: 0 1.5rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color: lightpink;
}

.faux-mato-logo {
    margin: 0;
    height: 8rem;
    width: 10rem;
}

.header-container > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

.body-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 80%;
    padding: 1.5rem;
}

.filter-container {
    margin: 1rem 0;
}

.res-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    overflow-x: scroll;
    padding: 0.5rem;
}

.res-card {
    width: 15rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.res-card:hover{
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.res-card-logo {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
}

.res-card > h2 {
    margin-bottom: 0.5rem;
}

.res-card-rating-and-time-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.res-card-rating-and-time-container > svg {
    padding: 0.3rem;
    background-color: green;
    border-radius: 2rem;
    font-size: 0.8rem;
    color: white;
}

.res-card-rating {
    font-weight: 500;
}

.res-card-time {
    font-weight: 600;
}

.res-card-cuisines, .res-card-price-for-two {
    color: gray;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.shimmer-container {
    padding: 0.5rem;
    width: 14rem;
    height: 20rem;
    border: 0.125rem solid #f0f0f0;
    border-radius: 0.6rem;
}

.shimmer-image {
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
    border-radius: 0.6rem;
}

.shimmer-info {
    display: flex;
    padding-top: 1.5rem;
    align-items: center;
}

.shimmer-icon {
    height: 2.5rem;
    width: 20%;
    border-radius: 10rem;
    background-color: #f0f0f0;
}

.shimmer-title-container {
    padding-left: 0.6rem;
    width: 65%;
}

.shimmer-text, .shimmer-description  {
    width: 100%;
    height: 1rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
}

.shimmer-description {
    margin-top: 1rem;
}

.footer {
    margin-top: auto;
}